<app-title class="title" [title]="title"></app-title>

<button class="addTaskBtn" #addTaskBtn color="primary" (click)="openForm()" mat-flat-button>Create new task</button>

<app-add-task-form
  *ngIf="openFormValue"
  [open]="openFormValue"
  [button]="addTaskBtn"
  (newItemEvent)="closeForm($event)"
></app-add-task-form>

<div class="todos" *ngIf="todos$ | async as todos">
  <ng-container *ngFor="let todoItem of todos">
    <app-todo-item
      id="todoItem.id"
      [title]="todoItem.title"
      [date]="todoItem.date"
      [description]="todoItem.description || ''"
      [id]="todoItem.id"
    ></app-todo-item>
  </ng-container>

</div>
