<mat-card class="task">
  <mat-card-header class="header">
    <mat-card-title>
      <mat-checkbox
        (change)="removeTodo(id, $event)"
      >{{title}}</mat-checkbox>

      <button
        (click)="changeTodo(id, title, date, description)"
        mat-icon-button
      >
        <mat-icon class="icon">create</mat-icon>
      </button>
    </mat-card-title>

    <mat-card-subtitle class="data">{{date | date:'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{description}}
    </p>
  </mat-card-content>
</mat-card>
