<h1 mat-dialog-title>Change your todo</h1>

<div mat-dialog-content>
  <form class="form" [formGroup]="form">
    <mat-form-field
      class="full-width"
      appearance="fill"
    >
      <mat-label>Title</mat-label>
      <input
        formControlName="title"
        matInput placeholder=""
        name="title"
      >
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        name="description"
        matInput style="resize: none;"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        formControlName="date"
        matInput
        [matDatepicker]="picker"
        name="date"
      >
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="form.value" cdkFocusInitial>Ok</button>
</div>

