.title {
  position: relative;
}

.addTaskBtn {
  position: absolute;
  top: 78px;
  right: 16px;
}

.app-add-task-form {
  position: absolute;
  right: 10px;
}

.todos {
  max-width: 1100px;
  padding: 10px 10px 65px 10px;
  display: block;
  margin: 0 auto;
}
